/* TEXT/FONT/COPY Styles */
/* Educate Ya primary brand colors
color: #002a44; edit to     color: #194d6d; so it's easier to see
color: #c61f4b; 
color: #4C555D;  made this     color: #6b7680; a brighter gray too*/

h1 {
    color: #7C7DCB; 
    /* color: #194d6d;  */
    font-family: 'Oswald', sans-serif;
    /* original font size was 76px  */
    font-size: 96px;
    font-weight: 700;
    line-height: 84px;
    text-transform: uppercase;
    text-align: center; 
    margin-block-end: 0;
    margin-block-start: 0;
    padding-top: 8rem;
    padding-bottom: 4rem; 
    /* padding-bottom: 8rem;  */
}

h2 {
    color: #B0B3C3; 
    /* color: #6b7680;  */
    font-family: 'Raleway', sans-serif;
    font-size: 72px;
    /* Original was font-weight: 800;  */
    font-weight: 700;
    line-height: 80px;
    /* padding-top: 2rem;  */
    padding-bottom: 4rem;
    margin-block-end: 0;
    margin-block-start: 0;
}

h3 {
    color: #B0B3C3; 
    /* color: #6b7680;  */
    font-family: 'Raleway', sans-serif;
    font-size: 48px;
    font-weight: 600;
    margin-block-end: 0;
    margin-block-start: 0;
}

h4 {
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: -4%;
    margin-block-end: 0;
    margin-block-start: 0;
}

h6 {
    color: #7C7DCB; 
    /* color: #c61f4b;  */
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -2%;
    margin-block-end: 0;
    margin-block-start: 0;
}

p {
    color: #F1F0F4;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: normal;
    line-height: 28px;
}

li {
    color: #F1F0F4;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: normal;
    line-height: 28px;
}

.header3 {
    color: #B0B3C3; 
    /* color: #6b7680;  */
    font-family: 'Raleway', sans-serif;
    font-size: 48px;
    font-weight: 600;
    line-height: 56px;
}

.header4 {
    color: #7C7DCB; 
    /* color: #c61f4b;  */
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: -4%;
}

strong {
    
    color: #7C7DCB; 
    /* color: #c61f4b;  */
}

.formText {
    color: #B0B3C3;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 14px;
}

.footerh1 {
    color: #F1F0F4;
    text-align: left;
    font-size: 76px;
    line-height: 8px;
    /* margin-left: 0px;
    padding-left: 2rem;
    padding-bottom: 0.5rem; */
}

.footerh6 {
    color: #F1F0F4;
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -2%;
}

#footerText {
    color: #F1F0F4;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    font-weight: normal;
    line-height: 16px;
    padding-left: 3rem;
    /* why is the copyright footer text not centered? */
}

/* TEXT ALIGN Styles  */
.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}



/* BUTTON/ASSETS STYLES */
button {
    border: 3px solid #7C7DCB;
    border-radius: 4px;
    color: #7C7DCB;
    box-sizing: border-box;
    background-color: transparent;
    font-style: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.5rem;
    text-align: center;
    padding: 0.5rem 2rem;
    margin-right: 1rem;
}

button:hover {
    background-color: #7C7DCB;
    color: #F1F0F4;
    border: 3px solid #7C7DCB;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    font-style: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.5rem;
    text-align: center;
    padding: 0.5rem 2rem;
    margin-right: 1rem;
}



/* ALL SECTIONS styling */
.content, .container, .card-body, .row {
    background-color: #000000;
}

section {
    padding-bottom: 8rem;
    padding-left: 5vw;
    padding-right: 5vw;
}

.card-body p {
    padding-bottom: 1rem;
}




/* Sticky Header with topNav  */
.logo {
    margin-left: 2rem;
    max-height: 75px;
}

.header {
    background-color: #000000;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    z-index: 10; 
}

.topNav {
    align-items: flex-end;
    margin-right: 3rem;
    margin-top: 3rem;
    justify-content: space-between;
}

.inline {
    display: inline;
    text-align: right;
    align-items: center;
    justify-content: flex-end;
}

.navLinks {
    display: inline;
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.75rem;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;  
    vertical-align: middle; 
}

a {
    text-decoration: none;
}

.navLinks:hover {
    text-decoration: underline;
    text-decoration-color: #7C7DCB;
    text-decoration-thickness: 4px;
    text-underline-position: under;
}

/* Sticky Header problem from HW19 is not yet an issue on this HW20 yet  */
.sticky {
    position: fixed;
    top: 0;
    /* width: 98.5%; Was testing this over Zoom earlier but 100% seems to work better */
    /* width: 100%;   */
    width: 100vw;
  }
  
  /* .sticky + .content {
    padding-top: 102px; 
  } */



/* Hero Intro, Project Overview, & Our Team sections in a grid  */
.EYheroh1 {
    padding-bottom: 8rem;
}

.EYhero {
    background-image: url("../images/caseStudy/EducateYa/EYRWDmockupLarge.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: calc(100vh - 25px);  
    display: flex;
    align-items: center;
    justify-content: center;
}

#EYprototypeMockup {
    background-color: #000000;
    width: "100vw";
    padding-bottom: 1.1rem;
}

.AboutEYrow {
    padding-top: 4rem;
    padding-bottom: 4rem;
}





/* Design Tools section  */
.designTools {
    padding-top: 8rem;
    padding-bottom: 4rem; 
}

.designTools h2 {
    padding-bottom: 4rem; 
}

.designToolsIcons {
    margin-right: 2rem;
    padding-bottom: 8rem; 
}



/* Design Phases section  */
.designPhases h1 {
    padding-bottom: 4rem; 
}

.designPhasesIcons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.phaseIcon01:hover {
    animation: spin 0.7s 1;
}

.phaseIcon02:hover {
    animation: spin 0.7s 1;
}

.phaseIcon03:hover {
    animation: spin 0.7s 1;
}

.phaseIcon04:hover {
    animation: spin 0.7s 1;
}

.phaseIcon05:hover {
    animation: spin 0.7s 1;
}

.phaseIcon06:hover {
    animation: spin 0.7s 1;
}

@keyframes spin {
    from {
    transform: rotate(0deg) scale(1.25);
    /* transform: scale(1.25); */
    }
    50% {
    transform: rotate(10deg) scale(1.3);
    /* transform: scale(1.25); */
    }
    75% {
    transform: rotate(-5deg) scale(1.3);
    }
    to {
    transform: rotate(0deg) scale(1.25);
    /* transform: scale(1.25); */
    }
  }

/* .designPhases {
    padding-bottom: 12rem;
} */



/* UX RESEARCH section in 1 or 2 grids  */
#UXresearch .row {
    padding-bottom: 1rem;
}

.heuristicCard {
    margin-left: 1rem;
}

.redlineNumbers {
    /* color: #FD0013;  */
    color: #EE0303; 
}

.protoRow {
    padding-bottom: 4rem;
} 

#protoPersonaImg {
    margin-left: 10%;
    width: 80%;
    margin-bottom: 8rem;
}

.EYblueColorblock {
    background-color: #002a44;;
    width: 100%;
    height: 8rem;
}

.EYpinkColorblock {
    background-color: #c61f4b;
    width: 100%;
    height: 4rem;
}

.insightsList {
    background-color: #F1F0F4; ;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-bottom: 0;
    padding-left: 5%;
    padding-right: 5%;
}

.insightsList li {
    color: #4C555D;
}

.insightsList strong {
    color: #c61f4b;
}




/* DEFINITION section  */
/* Why can't I right align the insight statement?
Having difficulty targeting certain elements */
.definitionCol1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.definitionInsight  {
    border: 2px solid greenyellow;
    align-items: flex-end;
    justify-self: right;
    flex-grow: 1;
}

#definition .definitionInsight {
    border: 2px solid magenta;
    align-items: flex-end;
    justify-content: right;
}

.sectionHeader {
    margin-block-end: 0;
    margin-block-start: 0;
    padding-bottom: 4rem;
}






/* IDEATION section with Storyboard on carousel. 
    Accordian for Key Features?  */
#carouselExampleIndicators {
    padding-bottom: 1rem; 
    }

.carousel-indicators {
    transform: scale(2);
}

.scrollIcon {
    transform: rotate(-90deg);
}

.carousel-item {
    width: 90%;
}

.carouselContainer {
    padding-bottom: 4rem;
    border: 2px solid yellow;
} 

.carousel-inner {
    /* width: 100vw;  */
    /* width: 100vw;  need to account for padding of section*/
    width: calc(100vw - 10vw);
    border: 2px solid red;
}

.story0, .story1, .story2, .story3, .story4 {
    border: 2px solid lightskyblue;
    width: 100%;


}

.carousel-control-prev-icon, .carousel-control-next-icon {
    transform: scale(3);
}

.carousel-control-prev, .carousel-control-next {
    border: none; 
}

.carousel-control-prev:hover, .carousel-control-next:hover {
    border: none;
    background-color: transparent;
}



/* PROTOTYPING section */
.sketchRow {
    margin-top: 4rem;
}


/* USABILITY TESTING section in 2x2 grid  */
/* Does the grid have a hidden z-index? It runs right over my sticky header  */

.card, .col-md-6 {
    border: 2px solid red;
}
.UTcontainer {
    align-self: flex-end;
}

/* .usabilityTestingDesktop {
    position: absolute;
    top: 50%;
    transform: translateY(-30%);
    width: 95%;
} */

.bg-dark {
    background-color: #171717; 
}

.bg-dark p {
    color: #F1F0F4;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: normal;
    line-height: 28px;
}
/* link Dancing Script Google font to change to modern script instead of cursive  */
.scriptInsight {
    color: #7C7DCB; 
    /* color: #c61f4b;  */
    font-family: 'Dancing Script';
    font-style: bold;
    font-size: 32px;
    line-height: 40px;
    line-height: 104%;
    letter-spacing: -2%;  
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

/* FINAL PROTOTYPE section  */
#finalPrototype {
    padding-bottom: 0px;
}

.finalPrototypeGrid {
    display: grid;
    position: relative;
    /* margin-left: 2rem;  */
    margin-left: 0; 
    margin-right: 2rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 720px 280px;
    grid-template-areas: 
    "desktopMockup desktopMockup"
    "prototypeButtons mobileMockup"
    ;
    /* padding-bottom: 4rem;  */
    padding-bottom: 0px;
}

/* Trying to get my images to overlap but not over text  */
.desktopMockup {
    position: relative;
    z-index: 0;
    transform: scale(0.75);
    padding-left: 0;
}

.mobileMockup {
    position: absolute;
    right: 0px;
    margin-right: 2%;
    margin-top: 2rem;
    transform: scale(0.75);
}

.prototypeButtons {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
    padding-left: 15%;
    padding-top: 10%;
    padding-bottom: 0px;
    /* height: 160px;  */
    height: 108px;
}



/* CONCLUSION section  */

#h1conclusion {
    padding-top: 0px;
    padding-bottom: 1rem;
}

#h4conclusion {
    color: #F1F0F4;
}



/* FOOTER */
.container, .card-body {
    background-color: #000000; 
}

.card-body p {
    padding-bottom: 1rem;
}


footer {
    border-top: 1px solid #F1F0F4;
}

.connectIcons {
    display: flex;
    flex-direction: column;
    /* padding-left: 2rem;  */
    padding-left: 10%;
    /* grid-area: connectIcons; */
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.footerh1 {
    color: #F1F0F4;
    text-align: left;
    line-height: 6rem;
    padding-top: 4rem;
    padding-left: 10%;
    margin-top: 3rem;
    margin-bottom: 1rem;
    margin-block-end: 0;
    margin-block-start: 0;
}

.footerh6 {
    color: #F1F0F4;
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -2%;
    margin-top: 3rem;
    /* margin-bottom: 1rem;  */
}

.footerRow {
    display: flex;
    flex-direction: row;
    padding-bottom: 2rem;
}

.copyrightRow {
    display: flex;
    flex-direction: column;
    border-top: 1px solid #F1F0F4;
    padding-top: 1rem;
}

#footerText {
    color: #F1F0F4;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    font-weight: normal;
    line-height: 16px;
    text-align: center;
}

.emailWithIcon {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.emailText {
    color: #F1F0F4;
    padding-left: 2rem;
}

.emailText:hover {
    color: #7C7DCB;
}

.LinkedInWithIcon {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 1rem;
}

.LinkedInText {
    color: #F1F0F4;
    padding-left: 2rem;
}

.footerResume {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#buttonResume {
    width: 50%;
    text-align: center;
}

footer button {
    border: 3px solid #ECE5BA;
    border-radius: 4px;
    color: #ECE5BA;
    box-sizing: border-box;
    background-color: transparent; 
    margin-top: 1rem;
}

footer button:hover {
    background: #F1F0F4;
    color: #7C7DCB;
    border-color: #F1F0F4;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 2rem;
}





/* Media Queries Media Queries Media Queries Media Queries Media Queries */
/* Media Queries Media Queries Media Queries Media Queries Media Queries */
/* Media Queries Media Queries Media Queries Media Queries Media Queries */
@media only screen and (max-width: 600px) {
    /* ENTIRE PAGE styles */
    h1 {
        font-size: 76px;
        font-weight: 700;
        line-height: 84px;
    }

    /* HERO */


    /* DESIGN PHASES section */
/* v1  */
    .designPhasesIcons {
        display: flex;
        flex-direction: column;
    
    }
    .phaseIcon01 {
        text-align: left;
    }

    .phaseIcon02 {
        text-align: center;
    }

    .phaseIcon03 {
        text-align: right;
    }

    .phaseIcon04 {
        text-align: center;
    }

    .phaseIcon05 {
        text-align: left;
    }

    .phaseIcon06 {
        text-align: center;
    }


/* change to v2 - css code is currently broken??? */
    /* .designPhasesIcons {
        display: grid;
        margin-left: 2%;
        margin-right: 2%;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: 
        "phaseIcon01 phaseIcon02"
        "phaseIcon03 phaseIcon04"
        "phaseIcon05 phaseIcon06"
        ;
    }

    .phaseIcon01 {
        grid-area: phaseIcon01;
    }

    .phaseIcon02 {
        grid-area: phaseIcon01;
    }

    .phaseIcon03 {
        grid-area: phaseIcon01;
    }

    .phaseIcon04 {
        grid-area: phaseIcon01;
    }

    .phaseIcon05 {
        grid-area: phaseIcon01;
    }

    .phaseIcon06 {
        grid-area: phaseIcon01;
    } */



    
    /* UX RESEARCH section  */


    #protoPersonaImg {
        width: 100%;
        margin-left: 0%;
    }

    .EYblueColorblock {
        height: 5rem;
    }
    
    .EYpinkColorblock {
        height: 3rem;
    }
    
    /* DEFINITION section */

    /* IDEATION section */

    /* PROTOTYPING section */
    #EYwireframes {
        width: 100%;
    }

    /* USABILITY TESTING section */

    /* FINAL PROTOTYPE section  */




    /* CONCLUSION section  */

    /* FOOTER */